.container-vehicles {
  min-height: calc(100vh - 280px);
  border: 1px solid #dce0e0;
  max-width: 900px;
  margin: 50px auto;
  margin-top: 0px auto;
}


.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.message-name {
  padding-left: 10px;
  min-width: 100px;
  border-right: solid 1px lightgrey;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
    font-weight: light;
  }
}

.message-seats {
  padding-left: 30px;
}

.message-price {
  padding-left: 20px;
}



.booking {
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-name h3{
  font-size: 12px;
  padding-left: 5px;
}

.booking-date {
  padding-left: 20px;
  font-size: 12px;
}

.booking-status {
  padding-left: 30px;
  font-size: 14px;
  font-weight: bold;
}
