.car {
  margin-bottom: 100px;
}
.car .info {
  display: flex;
  justify-content: center;
  margin: 20px;
  .info-generales {
    background-color: #E9E9E9;
    padding: 100px;
    margin-right: 10px
  }
  .info-photo {

    margin-left: 10px;
    position: relative;
    .edit-icon {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
  a {
    color: white;
    font-size: 30px;
    &:hover {
      color: #E67E22;
      text-decoration: none;
    }
  }
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  .footer-price {
    padding-right: 50px;
    padding-left: 50px;
    border-left: solid 1px lightgrey;
  }
}

.description-car {
  display: flex;
  width: 66%;
  justify-content: space-around;
  margin: 10px auto;
  .carac {
    margin-right: 10px;
    .details-car {
      display: flex;
      justify-content: space-around;
      h4 {
        font-weight: bolder;
      }

    }
  }
  .user-profile-car {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    margin-left: 10px;
    border-left: solid 1px lightgrey
  }
}

.avatar-show {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


.footer-car {
  background: #F4F4F4;
  border: solid 1px lightgrey;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  background-attachment: scroll;
  position: fixed;
  background-position: 0% 0%;
  bottom: 0pt;
  left: 0pt;
}


#map {
  height: 50vh;
}

.vehicle-map-container {
  margin-bottom: 100px;
}
