<div class="container jumbotron">
  <%= render 'form_booking' %>
</div>



<!-- <div class="container">


  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <form action="">
        <div class="row">

          <div class="col-xs-6">
            <div class="form-inline">
              <label for="dates">Date de début</label>
              <input type="date">
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-group">
              <label for="dates">Date de fin</label>
              <input type="date">
            </div>
          </div>

        </div>

        <form action="#">
          <div class="form-group">
            <label for="first-name">Your First-name</label>
            <input type="first-name" id="first-name" class="form-control" placeholder="mettre first-name">
          </div>
          <div class="form-group">
            <label for="last-name">Your Last-name</label>
            <input type="last-name" id="last-name" class="form-control" placeholder="mettre last-name">
          </div>
          <input type="submit" value="Book Now" class="btn btn-success btn-lg">
        </form>

      </form>
    </div>
  </div>
</div> -->
