<div class="vehicle-picture" style="background-image: url(<%= image_path "img_banner.jpg", crop: :fill %>)">
</div>
<div class="container   vehicle-container">
  <h1>Add your 3-wheels here</h1>
  <%= render "form_vehicle" %>
</div>
